<!DOCTYPE html>
<html lang="en" ng-app="jasmineResults">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <style>
        .status {
            width: 85px;
            padding: 7px;
            border-radius: 3px;
            text-align: center;
        }

        .failed .status {
            background-color: rgb(255, 87, 34);
        }

        .passed .status {
            background-color: rgb(76, 175, 80);
        }

        .pending .status {
            background-color: rgb(255, 255, 0);
        }


        /* stack traces */
        pre {
            margin:0;
        }

        .stack.highlight {
            background-color: yellow;
        }

    </style>
</head>
<body ng-controller="ResultsCtrl">

<div ng-cloak layout="column">
    <md-toolbar ng-class="{'md-warn': results.counts.failed}">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Results <small ng-if="runTime"> - executed in {{runTime}} ms</small></h2>
            <h6>
                <span ng-if="results.counts.passed">Passed: {{results.counts.passed}}</span>
                <br ng-if="results.counts.passed" />

                <span ng-if="results.counts.pending">Pending: {{results.counts.pending}}</span>
                <br ng-if="results.counts.pending" />

                <span ng-if="results.counts.failed">Failed: {{results.counts.failed}}</span>
            </h6>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-list>
            <md-list-item ng-class="result.status" ng-repeat="result in results.sequence" ng-click="showDetail(result)">
                <div layout="row" flex layout-padding>
                    <div flex="none">
                        <div class="status">{{result.status}}</div>
                    </div>
                    <div flex>
                        <span>{{result.prefix}}</span><strong>{{result.description}}</strong>
                        <div ng-if="result.pendingReason != ''">
                            <small>{{result.pendingReason}}</small>
                        </div>
                        <div ng-repeat="failure in result.failedExpectations" ng-show="failure.hasSuspectLine">
                            <small>
                                <span>{{failure.message}}</span>
                                <div ng-if="results.options.showSuspectLine">
                                    <pre>{{failure.suspectLine}}</pre>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div flex="none" style="width: 100px">
                        <small>{{result.duration}} ms</small>
                    </div>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>

<script>
    angular.module('jasmineResults', ['ngMaterial']).config(function ($mdThemingProvider) {
        $mdThemingProvider.theme('default').primaryPalette('green').accentPalette('yellow');
    }).controller('ResultsCtrl', function ($scope, $mdDialog, results) {

        var classes = {
            'passed': 'md-primary',
            'pending': 'md-accent',
            'failed': 'md-warn'
        };

        $scope.showDetail = function (item) {
            $scope.activeItem = item;
            $mdDialog.show({
                controller: function () {
                },
                scope: $scope.$new(false, $scope),
                templateUrl: 'dialog.html',
                parent: angular.element(document.body),
                clickOutsideToClose: true
            })
        };

        $scope.results = results;
        $scope.runTime = new Date(results.timer.jasmineDone) - new Date(results.timer.jasmineStart);

        $scope.getCssClass = function(item){
            return classes[item.status];
        };

    }).constant('results', {
    "options": {
        "writeReportEachSpec": true,
        "showSuspectLine": true,
        "highlightSuspectLine": true,
        "path": "./RapportTestsUnitaires"
    },
    "timer": {
        "jasmineStart": "2019-03-03T21:05:16.430Z",
        "jasmineDone": "2019-03-03T21:05:17.512Z"
    },
    "counts": {
        "passed": 53,
        "failed": 1
    },
    "sequence": [
        {
            "id": "spec11",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/options/:id should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.521Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/options/:id ",
            "duration": null
        },
        {
            "id": "spec13",
            "description": "should say the element is not found",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/options/:id should say the element is not found",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.548Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/options/:id ",
            "duration": null
        },
        {
            "id": "spec12",
            "description": "should change the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/options/:id should change the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.561Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/options/:id ",
            "duration": null
        },
        {
            "id": "spec14",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/:id should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.570Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/:id ",
            "duration": null
        },
        {
            "id": "spec15",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/options/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.583Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/options/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec17",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.599Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec16",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.609Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec18",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/couleurs/:id/lignetarif should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.626Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec53",
            "description": "il devrait retourner tous les véhicules",
            "fullName": "/vehicules route tests GET /vehicules/ il devrait retourner tous les véhicules",
            "failedExpectations": [],
            "passedExpectations": [],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.633Z",
            "prefix": "/vehicules route tests GET /vehicules/ ",
            "duration": null
        },
        {
            "id": "spec1",
            "description": "shouldn't pass the authentification",
            "fullName": "TESTS:/auth/utilfab |  POST /auth/utilfab/ shouldn't pass the authentification",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.654Z",
            "prefix": "TESTS:/auth/utilfab |  POST /auth/utilfab/ ",
            "duration": null
        },
        {
            "id": "spec0",
            "description": "should pass the authentification",
            "fullName": "TESTS:/auth/utilfab |  POST /auth/utilfab/ should pass the authentification",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.665Z",
            "prefix": "TESTS:/auth/utilfab |  POST /auth/utilfab/ ",
            "duration": null
        },
        {
            "id": "spec2",
            "description": "shouldn't pass the authentification",
            "fullName": "TESTS:/auth/utilfab |  POST /auth/utilfab/ shouldn't pass the authentification",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.669Z",
            "prefix": "TESTS:/auth/utilfab |  POST /auth/utilfab/ ",
            "duration": null
        },
        {
            "id": "spec30",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.691Z",
            "prefix": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec31",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.700Z",
            "prefix": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec32",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  DELETE /marques/modeles/versions/:id/lignetarif should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.717Z",
            "prefix": "TESTS:/marques/modeles/versions |  DELETE /marques/modeles/versions/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec26",
            "description": "should return all the \"couleurs\" of \"version\" (id) ",
            "fullName": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id/couleurs should return all the \"couleurs\" of \"version\" (id) ",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.738Z",
            "prefix": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id/couleurs ",
            "duration": null
        },
        {
            "id": "spec19",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.754Z",
            "prefix": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id ",
            "duration": null
        },
        {
            "id": "spec28",
            "description": "should say element already exists in the table \"couleur\"",
            "fullName": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/couleurs should say element already exists in the table \"couleur\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.774Z",
            "prefix": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/couleurs ",
            "duration": null
        },
        {
            "id": "spec27",
            "description": "should add a new element to table \"couleur\"",
            "fullName": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/couleurs should add a new element to table \"couleur\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.786Z",
            "prefix": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/couleurs ",
            "duration": null
        },
        {
            "id": "spec20",
            "description": "should change the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id should change the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.806Z",
            "prefix": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id ",
            "duration": null
        },
        {
            "id": "spec21",
            "description": "should say the element is not found",
            "fullName": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id should say the element is not found",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.813Z",
            "prefix": "TESTS:/marques/modeles/versions |  PUT /marques/modeles/versions/:id ",
            "duration": null
        },
        {
            "id": "spec29",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.820Z",
            "prefix": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec22",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles/versions |  DELETE /marques/modeles/versions/:id should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.832Z",
            "prefix": "TESTS:/marques/modeles/versions |  DELETE /marques/modeles/versions/:id ",
            "duration": null
        },
        {
            "id": "spec23",
            "description": "should return all the \"options\" of \"version\" (id) ",
            "fullName": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id/options should return all the \"options\" of \"version\" (id) ",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.850Z",
            "prefix": "TESTS:/marques/modeles/versions |  GET /marques/modeles/versions/:id/options ",
            "duration": null
        },
        {
            "id": "spec25",
            "description": "should say element already exists in the table \"option\"",
            "fullName": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/options should say element already exists in the table \"option\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.869Z",
            "prefix": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/options ",
            "duration": null
        },
        {
            "id": "spec24",
            "description": "should add a new element to table \"option\"",
            "fullName": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/options should add a new element to table \"option\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.878Z",
            "prefix": "TESTS:/marques/modeles/versions |  POST /marques/modeles/versions/:id/options ",
            "duration": null
        },
        {
            "id": "spec3",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/couleurs/:id should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.889Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/couleurs/:id ",
            "duration": null
        },
        {
            "id": "spec4",
            "description": "should change the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id should change the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.902Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id ",
            "duration": null
        },
        {
            "id": "spec5",
            "description": "should say the element is not found",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id should say the element is not found",
            "failedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Expected 409 to be 404.",
                    "stack": "Error: Expected 409 to be 404.\n    at <Jasmine>\n    at Request._callback (/Users/mac/ProjetSIL/spec/routesTest/marques/modeles/versions/couleursTests.spec.js:117:49)\n    at Request.self.callback (/Users/mac/ProjetSIL/node_modules/request/request.js:185:22)\n    at Request.emit (events.js:197:13)\n    at Request.<anonymous> (/Users/mac/ProjetSIL/node_modules/request/request.js:1161:10)\n    at Request.emit (events.js:197:13)\n    at IncomingMessage.<anonymous> (/Users/mac/ProjetSIL/node_modules/request/request.js:1083:12)\n    at Object.onceWrapper (events.js:285:13)\n    at IncomingMessage.emit (events.js:202:15)\n    at endReadableNT (_stream_readable.js:1129:12)\n    at processTicksAndRejections (internal/process/next_tick.js:76:17)",
                    "passed": false,
                    "expected": 404,
                    "actual": 409,
                    "suspectLine": "    at <Jasmine>",
                    "hasSuspectLine": true
                }
            ],
            "passedExpectations": [],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "failed",
            "stoped": "2019-03-03T21:05:16.908Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id ",
            "duration": null
        },
        {
            "id": "spec10",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/couleurs/:id/lignetarif should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.924Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec8",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.943Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec9",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.950Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  PUT /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec7",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/couleurs/:id/lignetarif should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.959Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  GET /marques/modeles/versions/couleurs/:id/lignetarif ",
            "duration": null
        },
        {
            "id": "spec6",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/:id should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.972Z",
            "prefix": "TESTS:/marques/modeles/versions/couleurs |  DELETE /marques/modeles/versions/:id ",
            "duration": null
        },
        {
            "id": "spec37",
            "description": "should return all the \"versions\" of marque (id) ",
            "fullName": "TESTS:/marques/modeles |  GET /marques/modeles/:id/versions should return all the \"versions\" of marque (id) ",
            "failedExpectations": [],
            "passedExpectations": [],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:16.984Z",
            "prefix": "TESTS:/marques/modeles |  GET /marques/modeles/:id/versions ",
            "duration": null
        },
        {
            "id": "spec38",
            "description": "should add a new element to table \"version\"",
            "fullName": "TESTS:/marques/modeles |  POST /marques/modeles/:id/versions should add a new element to table \"version\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.000Z",
            "prefix": "TESTS:/marques/modeles |  POST /marques/modeles/:id/versions ",
            "duration": null
        },
        {
            "id": "spec39",
            "description": "should say element already exists in the table \"version\"",
            "fullName": "TESTS:/marques/modeles |  POST /marques/modeles/:id/versions should say element already exists in the table \"version\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.005Z",
            "prefix": "TESTS:/marques/modeles |  POST /marques/modeles/:id/versions ",
            "duration": null
        },
        {
            "id": "spec33",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques/modeles |  GET /marques/modeles/:id should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.016Z",
            "prefix": "TESTS:/marques/modeles |  GET /marques/modeles/:id ",
            "duration": null
        },
        {
            "id": "spec34",
            "description": "should change the element (id)",
            "fullName": "TESTS:/marques/modeles |  PUT /marques/modeles/:id should change the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.031Z",
            "prefix": "TESTS:/marques/modeles |  PUT /marques/modeles/:id ",
            "duration": null
        },
        {
            "id": "spec35",
            "description": "should say the element is not found",
            "fullName": "TESTS:/marques/modeles |  PUT /marques/modeles/:id should say the element is not found",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.037Z",
            "prefix": "TESTS:/marques/modeles |  PUT /marques/modeles/:id ",
            "duration": null
        },
        {
            "id": "spec36",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques/modeles |  DELETE /marques/modeles/:id should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.049Z",
            "prefix": "TESTS:/marques/modeles |  DELETE /marques/modeles/:id ",
            "duration": null
        },
        {
            "id": "spec46",
            "description": "should delete the element (id)",
            "fullName": "TESTS:/marques |  DELETE /marques/:id should delete the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.057Z",
            "prefix": "TESTS:/marques |  DELETE /marques/:id ",
            "duration": null
        },
        {
            "id": "spec52",
            "description": "should say element already exists in the table \"utilisateurFabricant\"",
            "fullName": "TESTS:/marques |  POST /marques/:id/utilfab should say element already exists in the table \"utilisateurFabricant\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.239Z",
            "prefix": "TESTS:/marques |  POST /marques/:id/utilfab ",
            "duration": null
        },
        {
            "id": "spec51",
            "description": "should add a new element to table \"utilisateurFabricant\"",
            "fullName": "TESTS:/marques |  POST /marques/:id/utilfab should add a new element to table \"utilisateurFabricant\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.419Z",
            "prefix": "TESTS:/marques |  POST /marques/:id/utilfab ",
            "duration": null
        },
        {
            "id": "spec41",
            "description": "should add a new element to table \"marque\"",
            "fullName": "TESTS:/marques |  POST /marques/ should add a new element to table \"marque\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.432Z",
            "prefix": "TESTS:/marques |  POST /marques/ ",
            "duration": null
        },
        {
            "id": "spec42",
            "description": "should say element already exists in the table \"marque\"",
            "fullName": "TESTS:/marques |  POST /marques/ should say element already exists in the table \"marque\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.440Z",
            "prefix": "TESTS:/marques |  POST /marques/ ",
            "duration": null
        },
        {
            "id": "spec43",
            "description": "should return the element (id)",
            "fullName": "TESTS:/marques |  GET /marques/:id should return the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.449Z",
            "prefix": "TESTS:/marques |  GET /marques/:id ",
            "duration": null
        },
        {
            "id": "spec44",
            "description": "should change the element (id)",
            "fullName": "TESTS:/marques |  PUT /marques/:id should change the element (id)",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.462Z",
            "prefix": "TESTS:/marques |  PUT /marques/:id ",
            "duration": null
        },
        {
            "id": "spec45",
            "description": "should say the element is not found",
            "fullName": "TESTS:/marques |  PUT /marques/:id should say the element is not found",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.467Z",
            "prefix": "TESTS:/marques |  PUT /marques/:id ",
            "duration": null
        },
        {
            "id": "spec40",
            "description": "should return all the \"marques\"",
            "fullName": "TESTS:/marques |  GET /marques/ should return all the \"marques\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBeTruthy",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.474Z",
            "prefix": "TESTS:/marques |  GET /marques/ ",
            "duration": null
        },
        {
            "id": "spec48",
            "description": "should add a new element to table \"modele\"",
            "fullName": "TESTS:/marques |  POST /marques/:id/modeles should add a new element to table \"modele\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.486Z",
            "prefix": "TESTS:/marques |  POST /marques/:id/modeles ",
            "duration": null
        },
        {
            "id": "spec49",
            "description": "should say element already exists in the table \"modele\"",
            "fullName": "TESTS:/marques |  POST /marques/:id/modeles should say element already exists in the table \"modele\"",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.492Z",
            "prefix": "TESTS:/marques |  POST /marques/:id/modeles ",
            "duration": null
        },
        {
            "id": "spec50",
            "description": "should return all the \"marques\"",
            "fullName": "TESTS:/marques |  GET /marques/:id/utilfab should return all the \"marques\"",
            "failedExpectations": [],
            "passedExpectations": [],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.500Z",
            "prefix": "TESTS:/marques |  GET /marques/:id/utilfab ",
            "duration": null
        },
        {
            "id": "spec47",
            "description": "should return all the \"marques\"",
            "fullName": "TESTS:/marques |  GET /marques/:id/modeles should return all the \"marques\"",
            "failedExpectations": [],
            "passedExpectations": [],
            "deprecationWarnings": [],
            "pendingReason": "",
            "status": "passed",
            "stoped": "2019-03-03T21:05:17.508Z",
            "prefix": "TESTS:/marques |  GET /marques/:id/modeles ",
            "duration": null
        }
    ]
});
</script>

<script type="text/ng-template" id="dialog.html">
    <md-dialog aria-label="" flex="90">
        <md-toolbar ng-class="getCssClass(activeItem)">
            <div layout="row" layout-padding class="md-toolbar-tools">
                <div flex="none">
                    <h1>Test Information:</h1>
                </div>
                <div flex>
                    <small>
                        <span>{{ activeItem.prefix }}</span>
                        <strong>{{ activeItem.description }}</strong>
                    </small>
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-subheader ng-if="activeItem.failedExpectations.length > 0">Stack Traces</md-subheader>
            <md-content>
                <div flex layout="column" layout-padding ng-repeat="failure in activeItem.failedExpectations">
                    <div flex>
                        <p>{{failure.message}}</p>
                        <small>
                            <pre class="stack" ng-class="{'highlight': (results.options.highlightSuspectLine && line === failure.suspectLine) }" ng-repeat="line in failure.stack.split('\n')">{{line}}</pre>
                        </small>
                    </div>
                </div>
            </md-content>
            <md-subheader ng-if="activeItem.passedExpectations.length > 0">Passed Expectations</md-subheader>
            <pre ng-repeat="pass in activeItem.passedExpectations">{{pass | json}}</pre>
        </md-dialog-content>
    </md-dialog>
</script>

</body>
</html>